{include file="public/_meta" /}
<title>基本设置</title>
<style>
    input{
        border:none;
        text-align:center;
    }
</style>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 系统管理
        <span class="c-gray en">&gt;</span> 等级参数
        <a class="btn btn-success radius r" style="margin-left:2px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
        <a class="btn btn-success radius r" style="margin-left:2px" onclick="ooo()" title="清楚缓存"><i class="Hui-iconfont">&#xe706;</i></a>
    </nav>
    <div class="page-container">
        <form class="form form-horizontal" id="form-article-add">
            <div id="tab-system" class="HuiTab">
                <div class="tabBar cl">
                    <span>等级参数</span>
                </div>
                <div class="tabCon">
                   <table class="table table-border table-bordered table-bg">
                        <thead>
                            <tr class="text-c">
                                <th width="60">id</th>
                                <th width="120">用户等级</th>
                                <th width="60">名称</th>
                                <th width="60">升级条件</th>
                                <th width="120">分红%</th>
                                <th width="100">团队%</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name='list' id="vo"}
                            <tr class="text-c">
                                <td>{$vo.id}</td>
                                <td>{$vo.us_level}</td>
                                <td><input type="text" value="{$vo.cal_name}" onchange="eee($(this).val(),'cal_name','{$vo.id}',1)"></td>
                                <td><input type="text" value="{$vo.cal_condition}" onchange="eee($(this).val(),'cal_condition','{$vo.id}',1)"></td>
                                <td><input type="text" value="{$vo.cal_red}" onchange="eee($(this).val(),'cal_red','{$vo.id}',1)"></td>
                                <td><input type="text" value="{$vo.cal_team}" onchange="eee($(this).val(),'cal_team','{$vo.id}',1)"></td>
                               <!--  <td>
                                    <a title="编辑" href="javascript:;" onclick="create({$vo.id},'edit','修改详细')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                </td> -->
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                
        </form>
    </div>
    {include file="public/_footer" /}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">

    function create(id,url,key){
        var url = "{:url('"+url+"')}?id="+id;
        creatIframe(url,key);
    }

    $(function() {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#tab-system").Huitab({
            index: 0
        });
    });

    function eee(val,key,id,type){
        // console.log(val);
        // console.log(key);
        // console.log(i);
        layer.confirm(
            '确定要更改么？', 
            { btn: ['确定', '取消'] }, 
            function(index, layero){
                $.ajax({
                    type: "post",
                    url: "{:url('system')}",
                    data: {val:val,key:key,id:id,type:type},
                    success: function(data) {
                        layer.msg('修改成功');
                        // if(data.code){
                        //     location.href = '';
                        // }
                    }
                })
            },
            function(index,layero){
               location.href = ''; 
            }
        );
    }
    // /setting/saveinfo
    function saveConfig() {
        $.post("{:url('setting/index')}", $('.form').serialize()).success(function(data) {
            layer.msg(data.msg);
            if (!data.code) {
                $('.rst').click();
            }
        });
        return false;
    }

    function ooo() {
        $.post("{:url('every/clear')}").success(function(data) {
            layer.msg('清除成功');
        });
        return false;
    }

    </script>
        <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>
